:root{
    /* Основные цвета проекта */
    --primary-color: #232c39;
    --secondary-color: #002aff;
    --accent-color: #000000;
    --bg-color: #ffffff;
    --text-primary-color: #ffffff;
    --text-bg-color:#000000;
    /* Основные параметры текста проекта */
    font-size: 1rem;
    --h-font-family: cursive;
    --company-name-text: 1rem;
    --company-slogan-text: 1rem;
    --company-name-text: 1rem;
}
[data-theme='dark']{
    /* Основные цвета проекта */
    --primary-color: #232c39;
    --secondary-color: #002aff;
    --accent-color: #ffffff;
    --bg-color: #000000;
    --text-primary-color: #ffffff;
    --text-bg-color:#ffffff;
    /* Основные параметры текста проекта */
    font-size: 1rem;
    --h-font-family: cursive;
    --company-name-text: 1rem;
    --company-slogan-text: 1rem;
    --company-name-text: 1rem;
}

.header{
    padding: 2.1vw 8vw;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    font-family: var(--h-font-family);
}
.update-wrapper{
    font-family: var(--h-font-family);
    background-color: #000000;
    color:var(--text-primary-color)
}
.header-wrapper .page-activities-wrapper .image-wrapper{
    height: 120px;
}
.header-wrapper .page-activities-wrapper .text-wrapper{
    text-align: center;
}
.header-wrapper .user-activities-wrapper .image-wrapper{
    height: 2rem;
    width: 2rem;
}
.navbar-wrapper .link-button{
    margin: .7vw .7vw 0;
}
.cart-image path{fill: var(--text-primary-color);}
.link-button{
    color: inherit;
    text-decoration: none;
}

.link-button:hover{
    color:inherit;
}

body{
    background-color: var(--bg-color);
    margin: 0;
}

.shop_body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 8vw;
    padding-right: 8vw;
}

.shop_body .product_card{
    align-content: center;
    text-align: center;
    background-color: rgb(202, 209, 215);
    border-radius: 5%;
    border: 5px;
}

.shop_body .product_image{
    height: 170px;
    width: 170px;
    align-self: center;
}

.shop_body .product_image img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.image-wrapper.cart{
    width: 40px;
    height: 40px;
    align-self: center;
}
.cart_image{
    height: 100%;
    width: auto;
    object-fit: contain;
    color: aliceblue;
}