{% load static %}
<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }} — TRINKETRY
        {% else %}
        TRINKETRY
        {% endif %}
    </title>
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    {% block css %}{% endblock %}

    <script src='{% static "js/jquery/jquery-4.0.0.min.js" %}'></script>
    <script src='{% static "js/jquery-ajax.js" %}'></script>
</head>
<body>
    {% include 'components/header.html' %}
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'components/footer.html' %}
</body>
</html>