{% load static %}
<header>
    <div class="header-wrapper align-center flex">
        <a class="link-button" href="{% url 'home' %}">
            <div class="logo-title-wrapper align-center flex">
                <div class="image-wrapper align-center logo width-fit">
                    <img class="logo-image" src="{% static 'main/img/alpaca.svg' %}" alt="Здесь альпака">
                </div>
                <div class="text-wrapper align-center column width-fit">
                    <p class="text title upper">TRINKETRY</p>
                    <p class="text subtitle upper">МАЛЕНЬКИЕ РАДОСТИ ДЛЯ ВАШЕГО ДОМА</p>
                </div>
            </div>
        </a>
        <div class="user-activities-wrapper align-center flex">
            {% if user.is_authenticated %}
                <a href="{% url 'account' %}" class="account link-button">{{user.username}}</a>
            {% else %}
                <a href="{% url 'login' %}" class="login link-button">ВОЙТИ</a>
            {% endif %}
            <a href="{% url 'cart' %}" class="cart link-button">
                <div class="image-wrapper">
                    <img src="{% static 'main/img/favicon.png' %}" alt="КОРЗИНА" class="cart-image">
                </div>
            </a>
        </div>
    </div>
    <div class="header-navbar-wrapper align-center flex">
        <a class='link-button' href="{% url 'shop:shop' %}">МАГАЗИН</a>
        <a class='link-button' href="{% url 'about' %}">ОБО МНЕ</a>
        <a class='link-button' href="{% url 'faq' %}">ЧАВО</a>
        <a class='link-button' href="{% url 'blog' %}">БЛОГ</a>
        <a class='link-button' href="{% url 'gallery' %}">ГАЛЕРЕЯ</a>
    </div>
</header>