{% extends 'layout.html' %}
{% load shop_tags %}

{% block body %}
    {% get_current_product as product %}
    <p>{{cart}}</p>
    <p>Карточка товара id: {{product.id}}</p>
    <div class="product-detail-wrapper flex">
        <div class="product-image detail-image">
            <img src="{{ product.image.url }}" alt="">
        </div>
        <div class="product-detail flex column">
            <div class="product-name text title">{{ product.name }}</div>
        <div class="product-cost text">{{ product.cost }}</div>
        <a href="" class="add-to-cart btn">Добавить в корзину</a>
        </div>
    </div>
{% endblock %}
