{% extends 'layout.html' %}
{% load shop_tags %}

{% block content %}
{% get_products as product %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="{{ product.image.url }}" alt="Продукт" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-7">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p class="lead">
                {% if product.discount %}<s>{{product.price}}</s>{% endif %}
                <span class="fw-bold">{{product.get_sale_price}} руб.</span></p>
            <p class="text-muted">
                {% if product.description %}
                    {{product.description}}
                {% else %}
                    Описание продукта. Здесь можно разместить детальное описание характеристик, преимуществ и особенностей товара.
                {% endif %}
            </p>
            {% include "shop/components/add_to_cart_btn.html" with product=product %}
        </div>
    </div>
    
    <!-- Раскрывающийся контент -->
    <div class="accordion mt-5" id="productInfoAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#characteristicsCollapse" aria-expanded="false" aria-controls="characteristicsCollapse">
                    Характеристики
                </button>
            </h2>
            <div id="characteristicsCollapse" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#productInfoAccordion">
                <div class="accordion-body">
                    Подробные характеристики товара.<br />
                    Размер: около 3 х 4 см<br />
                    Вес: около 10 гр.<br />
                    Материал: полимерная глина
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#deliveryCollapse" aria-expanded="false" aria-controls="deliveryCollapse">
                    Информация о доставке
                </button>
            </h2>
            <div id="deliveryCollapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#productInfoAccordion">
                <div class="accordion-body">
                    Мы доставляем товары по всей территории России.<br />
                    Стоимость доставки зависит от региона.<br />
                    Срок доставки: от 3 до 7 рабочих дней.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}