{% extends 'layout.html' %}
{% load shop_tags %}

{% block body %}
    {% get_products as product %}
    <p>Карточка товара id: {{product.id}}</p>
    <div class="product-detail-wrapper flex">
        <div class="product-image detail-image">
            <img src="{{ product.image.url }}" alt="">
        </div>
        <div class="product-detail flex column">
            <div class="product-name text title">{{ product.name }}</div>
        <div class="product-price text">{{ product.price }}</div>
        <div class="button_wrapper">
            <a href="{% url 'cart:add' product.slug %}" class="btn">Добавить в корзину</a>
        </div>
        {% comment %} <button data-product={{product.id}} data-action="add-to-cart" class="btn product-btn update-product">Добавить в корзину</button> {% endcomment %}
        </div>
    </div>
{% endblock %}
