{% load static %}
<header>
    <div class="header-wrapper align-center flex">
        <a class="link-button" href="{% url 'main:index' %}">
            <div class="logo-title-wrapper align-center flex">
                <div class="image-wrapper align-center logo width-fit">
                    <img class="logo-image" src="{% static 'img/alpaca.svg' %}" 
                         alt="Логотип компании, белая альпака с тёмно-голубой накидкой.">
                </div>
                <div class="text-wrapper align-center column width-fit">
                    <p class="text title upper">TRINKETRY</p>
                    <p class="text subtitle upper">МАЛЕНЬКИЕ РАДОСТИ ДЛЯ ВАШЕГО ДОМА</p>
                </div>
            </div>
        </a>
        <div class="user-activities-wrapper align-center flex">
            {% if user.is_authenticated %}
                <a href="{% url 'account:index' %}" class="account link-button">{{user.username}}</a>
            {% else %}
                <a href="{% url 'account:login' %}" class="login link-button">ВОЙТИ</a>
            {% endif %}
            <a href="{% url 'cart:index' %}" class="cart link-button">
                <div class="image-wrapper">
                    <img src="{% static 'img/favicon.png' %}" alt="КОРЗИНА" class="cart-image">
                </div>
            </a>
        </div>
    </div>
    <div class="header-navbar-wrapper align-center flex">
        <a class='link-button' href="{% url 'shop:index' %}">МАГАЗИН</a>
        <a class='link-button' href="{% url 'main:about' %}">ОБО МНЕ</a>
        <a class='link-button' href="{% url 'main:faq' %}">ЧАВО</a>
        <a class='link-button' href="{% url 'blog:index' %}">БЛОГ</a>
        <a class='link-button' href="{% url 'gallery:index' %}">ГАЛЕРЕЯ</a>
    </div>
</header>